<html>
  <head>
    {% load staticfiles %}
    <title> The Network Institute forum! </title>
    <link rel="stylesheet" href="{% static 'social/bootstrap-3.3.6-dist/css/bootstrap.css' %}"></link>
    <link rel="stylesheet" href="{% static 'social/bootstrap-3.3.6-dist/css/bootstrap-theme.css' %}"></link>

  </head>
  <body>
    <div class='container'>
	<div class='row' id='lineChartContainer'></div>
<div class='row'>
  <!-- New post container -->
  <div class='col-xs-8 col-xs-offset-2'>
    <div class='panel panel-primary' id='new-post'>
      <div class='panel-body'>
        <h1> Write a new post </h1>
        <form action="{% url 'social:add_post' %}" method="post" id='new-post-form' enctype='multipart/form-data'>
        {% csrf_token %}
          <div class='form-group'>
            <textarea class='form-control'name='text' form='new-post-form' required placeholder="Write your post here..."></textarea> 
          </div>
          <div class='form-group'>
            <input id='photo-upload' class='form-control' 
                   type='file' name='photo' accept='image/*'>
            </input>
            <label for='photo-upload'>Upload a photo</label>
          </div>
          <button type='submit' class='btn btn-default'>Post</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Search box -->
  <div class='col-xs-2'>
    <div class='well'>
      <form action="{% url 'social:home' %}" method="post" id='search-bar'>
        {% csrf_token %}
        <div class='form-group'>
          <input type='text' class='form-control' name='search_terms' required placeholder='Search in posts...'>
        </div>
        <button type='submit' class='btn btn-primary'>Search</button>
      </form>
      <a class='btn btn-success' href="{% url 'social:home' %}">Show all</a>
    </div>
	
	        <div class='col-xs-8 col-xs-offset-2'>
          {% for post in posts %}
          <div class='panel panel-default' id="{{post.id}}">
            <div class='panel-heading'>
  <h4>{{post.poster.username}}</h4>
  <h4 class='small'>
    posted on {{post.date_time}}
    {% if post.poster == user %}
    <form action="{% url 'social:delete_post' post.id %}" method="post" id='delete-post'>
      {% csrf_token %}
      <button type='submit'title='delete post' class='glyphicon glyphicon-trash pull-right'></button>
    </form>
    {% endif %}
  </h4>
</div>
<div class='panel-body'>
  <p class='lead'>{{post.text}}</p>
</div>
{% if post.photo %}
<div class='col-xs-10 col-xs-offset-1'>
  <img class='img-responsive center-block img-rounded' src={{post.photo.url}}/>
</div>
{% endif %}
            <div class='row'>
              <div class='col-xs-10 col-xs-offset-1'>
                <ul class='list-group'>
                  {% for comment in post.comment_set.all %}
                  <li class='list-group-item'> 
                    {{comment.text}} - {{comment.poster.username}} ({{comment.date_time}}) 
                  </li>
                  {% endfor %}
                </ul>
                <form action="{% url 'social:add_comment' %}" method="post">
                {% csrf_token %}
                  <div class='form-group'>
                    <input class='form-control' type='text' name='comment' required placeholder="Write your comment here..."/>
                  </div>
                  <input type='hidden' name='post_id' value={{post.id}} />
                  <button class='btn btn-default' type='submit'>Submit</button>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

	<!-- Added: list of hashtags-->
	<div>
		<p>The following list shows the hashtags that can be used to link a post with a project of the Network Institute.
		Clicking on the hashtag (if underlined) will show the project description.</p>
		<ul> 
		<li><a href="http://research-acumen.eu/" target="_blank">#ACUMEN</a></li>
		<li><a href="http://agora.cs.vu.nl/" target="_blank">#Agora</a></li>
		<li><a href="http://disastergovernance.info/" target="_blank">#area</a></li>
		<li><a href="https://www.esciencecenter.nl/" target="_blank">#BiographyNed</a></li>
		<li><a href="http://www.ehumanities.nl/computational-humanities/ceda_r/" target="_blank">#CEDA_R</a></li>
		<li><a href="http://chip.win.tue.nl/home.html" target="_blank">#CHIP</a></li>
		<li><a href="http://www.conpaas.eu/" target="_blank">#ConPaaS</a></li>
		<li><a href="http://www.cltl.nl/projects/previous-projects/cornetto/" target="_blank">#Cornetto</a></li>
		<li>#Cyberchondria</li>
		<li><a href="http://www.data2semantics.org/" target="_blank">#Data2Semantics</a></li>
		<li>#Depression</li>
		<li><a href="http://worldwidesemanticweb.org/" target="_blank">#DownscalingSW</a></li>
		<li><a href="http://www.cltl.nl/projects/previous-projects/dutchsemcor/" target="_blank">#DutchSemCor</a></li>
		<li>#DutchShips&amp;Seamen</li>
		<li><a href="http://ecomeu.info/" target="_blank">#EcomEU</a></li>
		<li><a href="http://www.ehumanities.nl/computational-humanities/elite-network-shifts/" target="_blank">#EliteNetworkShifts</a></li>
		<li><a href="http://eurecaproject.eu/" target="_blank">#Eureca</a></li>
		<li>#EWiDS</li>
		<li><a href="https://worldplantage.wordpress.com/" target="_blank">#Foroba Blo</a></li>
		<li>#GLAMMap</li>
		<li><a href="http://globalwordnet.org/" target="_blank">#GlobalWorldNet</a></li>
		<li>#GreenICTpractices</li>
		<li><a href="http://kyoto-project.eu/xmlgroup.iit.cnr.it/kyoto/index.html" target="_blank">#KYOTOProject</a></li>
		<li><a href="http://ldbcouncil.org/industry/organization/origins" target="_blank">#LDBC</a></li>
		<li>#MCSD</li>
		<li>#MechanismsLinguisticBias</li>
		<li>#METIS</li>
		<li><a href="http://www.minix3.org/" target="_blank">#Minix3</a></li>
		<li><a href="https://monaproject.wordpress.com/" target="_blank">#MONA</a></li>
		<li><a href="http://amsterdamgesturecenter.com/members/" target="_blank">#MultimodalitySpokenLanguageConstructionGrammar</a></li>
		<li><a href="http://www.nessi-europe.com/default.aspx?page=home" target="_blank">#NESSI</a></li>
		<li><a href="http://www.internet-science.eu/" target="_blank">#NetworkExcellenceInternetScience</a></li>
		<li><a href="http://www.newsreader-project.eu/" target="_blank">#NewsReader</a></li>
		<li><a href="http://notube.tv/" target="_blank">#NoTube</a></li>
		<li><a href="http://www.opener-project.eu/" target="_blank">#OpeNER</a></li>
		<li><a href="http://www.openphacts.org/" target="_blank">#OpenPhacts</a></li>
		<li>#@PhilosTEI</li>
		<li><a href="http://www.prestoprime.org/" target="_blank">#PrestoPRIME</a></li>
		<li><a href="http://www.ehumanities.nl/computational-humanities/the-riddle-of-literary-quality/" target="_blank">#RiddleLiteraryQuality</a></li>
		<li><a href="http://www.commit-nl.nl/projects/socially-enriched-access-to-linked-cultural-media/" target="_blank">#SEALINCMEDIA</a></li>
		<li><a href="http://selemca.camera-vu.nl/projects/selemca.html" target="_blank">#Selemca</a></li>
		<li>#SemanticsHistory</li>
		<li><a href="http://sina.birzeit.edu/SIERA/" target="_blank">#Siera</a></li>
		<li><a href="http://stress.few.vu.nl/" target="_blank">#SimulationTrainingResilience</a></li>
		<li>#SPREAD</li>
		<li>#Text2Politics</li>
		<li>#FromText2PoliticalPositions</li>
		<li><a href="http://www.fsw.vu.nl/nl/onderzoek/onderzoeksprogrammas/organisatiewetenschappen/tracking-networks-of-communications/index.aspx" target="_blank">#TrackingNetworksCommunication</a></li>
		<li><a href="http://www.networkinstitute.org/academy-assistants/aaprojects2012/transcending-or-confining/" target="_blank">#TranscendingConfining</a></li>
		<li><a href="http://www.ehumanities.nl/computational-humanities/tunes-tales/" target="_blank">#Tunes&amp;Tales </a></li>
		<li>#ValueIT</li>
		<li>#VerrijktKoninkrijk</li>
		<li><a href="http://www.metaphorlab.org/&quot;&quot;" target="_blank">#VISMET</a></li>
		<li><a href="http://vista-tv.eu/" target="_blank">#ViSTA-TV</a></li>
		<li><a href="http://mvoices.eu/" target="_blank">#VOICES</a></li>
		<li><a href="http://w4ra.org/" target="_blank">#W4RA</a></li>
		<li><a href="https://www.digivaardigdigiveilig.nl/" target="_blank">#WomenICT</a></li>
		</ul>
  </div>

	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'social/time.js' %}"></script>
  </body>
</html>